body{
    margin: 0;
    padding: 0;
}
.parentCont{
    border: solid;
    height: 100vh;
    width: 100vw;
    background: green;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* background and container for the jepordy board */
.jepBg{
    height: 95%;
    width: 95%;
    border: solid;
    background: blue;
}
/* Row and divs for score */
.rowScore{
    display:flex;
    justify-content: space-around;
    border: solid;
}

.scores{
    border-right: solid;
    width: 50%;
}
/* end of scores */

/* Generic styling of rows */
.rowBg{
    height: 94%;
    border: solid;
}
.rows{
    height: 24%;
    width: 16%;
    border: solid black;
    background: red;
    text-align: center;
}
/* End of Generic row Styling */
/* start styling category section */
.rowCategories{
    display:flex;
    width: 100%;
    color: white;
    
}

.subCat{
    width:25%;
    border: solid black;
    background-color:purple;
}
/* end of styling category section */
/* Start Styling for Question of Rows */
.row1{
    display:flex;
    background: green;
    width: 100%;
}

.subRows{
    width:25%;
    border: solid;
    background-color: grey;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row1b1{
    border: solid black;
    background-color: orange;
}

/* End of Row 1 styling */
/* Start of Row 2 styling */
.row2{
    display:flex;
    width: 100%;
    background: yellow;
}

/* End of Row 2 Styling */
/* Start of Row 3 Styling */
.row3{
    display:flex;
    width: 100%;
}

/* Start styling Questions */
.questions{
    height: 60vh;
    min-height: 400px;
    width: 60vw;
    /* max-width: 600px; */
    border: solid;
    background-color: white;
    
    /* transform: translate(-2000px,0px);  To be Done when Finalized*/
    position: absolute;
    /* display:none; */
    z-index: 1000;
    background-image: url('../images/snakeHead.png'); 
    background-size: cover;
    background-position: center; 
}

.questAnimate{
    animation: questionFrame 20s;
}

@keyframes questionFrame {
5%{transform: translate(0px,0px)}
100%{transform: translate(0px,0px)}
/* 5%{transform: translate(-2000px,0px)} */
}
